<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %><br>
  <%= link_to 'Blog', @user.blog if @user.blog %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
